@model Group5_LonghornAirlines_FinalProject.Models.AppUserViewModel

@{
    ViewData["Title"] = "DetailedSearch";
}

<h1>Detailed Search</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="DetailedSearch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleInitial" class="control-label"></label>
                <input asp-for="MiddleInitial" class="form-control" />
                <span asp-validation-for="MiddleInitial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
            </div>
            @if(User.IsInRole("Manager") || User.IsInRole("Agent"))
            { 
            <label class="form-check-label">
                <input class="form-check-input" asp-for="ActiveStatus" />
                @Html.DisplayNameFor(model => model.ActiveStatus)
            </label>
            }
            <div class="form-group">
                <label asp-for="AdvantageNumber" class="control-label"></label>
                <input asp-for="AdvantageNumber" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Miles" class="control-label"></label>
                <input asp-for="Miles" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--BEcasue input type is submit, that indicates it is a button -->
                <!--This asp action allows the. WHen this form is submitted(when the button is pressed), it shows which action method to go to-->
                <input type="submit" value="Search" class="btn btn-primary"
                       asp-action="DisplaySearchResults" />
                <!--If you wanted to add more buttons, you would copy this code and switch the asp-action name.
        button primary is simply the color of the button-->
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
