<h1>Aggregate Ticket Report</h1>

<p>Total Tickets Sold: @ViewBag.TotalTicketCount</p>
<p>Total Revenue: @ViewBag.TotalRevenue</p>

<a asp-action="DetailedSearch" asp-controller="Reports" class="btn btn-danger">Detailed Tickets Report </a>

