@model Group5_LonghornAirlines_FinalProject.Models.FlightViewModel

@{
    ViewData["Title"] = "DetailedSearch";
}

<h1>DetailedSearch</h1>

<h4>FlightViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DetailedSearch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureCity" class="control-label"></label>
                <select asp-for="DepartureCity" asp-items="Html.GetEnumSelectList<City>()" class="form-control">
                    <option selected="selected" value="">All Formats</option>
                </select>
                <span asp-validation-for="DepartureCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalCity" class="control-label"></label>
                <select asp-for="ArrivalCity" asp-items="Html.GetEnumSelectList<City>()" class="form-control">
                    <option selected="selected" value="">All Formats</option>
                </select>
                <span asp-validation-for="ArrivalCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Price Search Type:</label>
                <label asp-for="PriceCriteria" class="control-label"></label><br />
                <input type="radio" class="radio" asp-for="PriceCriteria" value="@PriceCriteria.GreaterThan" /> Greater Than<br />
                <input type="radio" class="radio" asp-for="PriceCriteria" value="@PriceCriteria.LessThan" /> Less Than<br />
            </div>

            <div class="form-group">
                <label class="control-label">Minimum Availible Seats:</label>
                <label asp-for="MinSeatCap" class="control-label"></label>
                <input asp-for="MinSeatCap" type="number" step="1" class="form-control" />
            </div>


            <div class="form-group">


                <!--BEcasue input type is submit, that indicates it is a button -->
                <!--This asp action allows the. WHen this form is submitted(when the button is pressed), it shows which action method to go to-->
                <input type="submit" value="Search" class="btn btn-primary"
                       asp-action="DisplaySearchResults" />
                <!--If you wanted to add more buttons, you would copy this code and switch the asp-action name.
        button primary is simply the color of the button-->
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

