@using Microsoft.AspNetCore.Authorization
@model Group5_LonghornAirlines_FinalProject.ViewModels.PurchaseViewModel

@{
    ViewData["Title"] = "Purchase";
}

<div style="margin-bottom: 20px; margin-top: 30px;">
    <a asp-action="Index" class="btn btn-danger">Return to Search</a>
</div>

@if (Model != null && Model.FlightPath != null)
{
    <h4>Flight Details</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Departure Time</th>
                <th>Departure City</th>
                <th>Arrival City</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.FlightNumber</td>
                <td>@Model.DepartureTime.ToShortTimeString()</td>
                <td>@Model.FlightPath.DepartureCity</td>
                <td>@Model.FlightPath.ArrivalCity</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>Flight details are not available until a valid advantage number is entered below.</p>
}

<h4>Advantage Number</h4>
<form method="post">
    <div class="form-group">
        <label for="AdvantageNumber">Enter Advantage Number:</label>
        <input type="number" class="form-control" id="AdvantageNumber" name="AdvantageNumber">
        <span asp-validation-for="AdvantageNumber" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
